<?xml version="1.0" encoding="UTF-8"?>
<Context antiJARLocking="true" path="/FirstJspServletJsp">
    <Resource name="jdbc/library"
              author="Container"
              type="javax.sql.DataSource"
              maxActive="32"
              maxIdle="8"
              maxWait="10000"
              username="root"
              password="994499_ma"
              driverClassName="com.mysql.jdbc.Driver"
              url="jdbc:mysql://localhost:3306/library"
    />
</Context>