<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <File name="Logs" fileName="logs/log.log" immediateFlush="false" append="false">
            <PatternLayout pattern="%d %p %c{-5} [%t] %m%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="Logs"/>
        </Root>
    </Loggers>
</Configuration>