
.books {
	margin: 0 20px 0 90px;
}

.tool_panel {
	align-items: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

form.bookSearch {
    margin-right: 10px;
    width: 85%;
}

.add-book-button {
    margin-left: 10px;
}