/* .sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
} */



/* Now I have determined what the sidebar will look like for a responsive device */
.hover_collapse .sidebar{
	width: 70px;
}

.hover_collapse .sidebar ul li a .text{
	display: none;
}


.sidebar{
	position: fixed;
	top: 60px;
	left: 0;
	width: 260px;
	height: 100%;
	background: #042331;
  z-index: 10;
}

.sidebar ul li a{
	display: block;
	padding: 16px 25px;
	border-bottom: 1px solid #03374e;
	color: #0e94d4;


}

.sidebar ul li a .icon,
.sidebar ul li button .icon {
	  font-size: 18px;
    color: white;
	  vertical-align: middle;
}

.sidebar ul li a .text,
.sidebar ul li button .text {
	margin-left: 19px;
	color: #fff;
  font-family: sans-serif;
  font-size: 18px;
	letter-spacing: 2px;
}

.sidebar ul li a:hover{
	background: #0e94d4;
	color: #fff;
}


* {
  font-family: "Times New Roman", Times, serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

/* Style the sidenav links and the dropdown button */
.dropdown-btn {
	padding: 16px 25px;
  text-decoration: none;
  font-size: 19px;
  color: #fff;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.dropdown-btn:hover {
  background: #0e94d4;
  color: #fff;
}

/* Add an active class to the active dropdown button */
.active {
	background: #042331;
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.sidebar ul li .dropdown-container {
  display: none;
  color: #fff;
  padding-left: 8px;
}

.sidebar ul li .dropdown-container a {
	border-bottom: 0;
}

.sidebar ul li .dropdown-container a .sub-element,
.sidebar ul li .dropdown-container a .sub-element:hover {
  margin-left: 39px;
	color: #fff;
  font-family: sans-serif;
  font-size: 18px;
	letter-spacing: 2px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

.hover_collapse .sidebar ul li button .text,
.hover_collapse .sidebar ul li button .arrow {
	display: none;
}